<!-- menu -->
<div class="menu">
    <div 
        (click)="setCurrentType($event)" 
        *ngFor = "let place of places | menu" class="menu__btn" 
        [attr.data-type]="place"
    >
        {{place}}
    </div>
</div>
<!-- //menu -->

<!-- cards -->
<div class="cards"  *ngFor="let place of places; index as i;" id="{{i}}">
    <mat-card 
        *ngIf="place.type === placeType" 
        (click)="getCard($event)"
        class="place-card"
        
    >
        <mat-card-header>
            <mat-card-title>{{place.address}}</mat-card-title>
            <mat-card-subtitle>{{place.phone}}</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image [src]="place.img" alt=""> -->
    </mat-card>
</div>
<!-- //cards -->