:host {
    width: 80%;
    margin: 100px auto;
    display: block;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    padding: 10px;
}

p {
    text-align: center;
}

.grid {
    display: flex;
}

.grid-col {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

